


@font-face {
  font-family: 'iconfont';  /* project id 2269722 */
  src: url('//at.alicdn.com/t/font_2269722_iqywihxvzi.eot');
  src: url('//at.alicdn.com/t/font_2269722_iqywihxvzi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2269722_iqywihxvzi.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2269722_iqywihxvzi.woff') format('woff'),
  url('//at.alicdn.com/t/font_2269722_iqywihxvzi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2269722_iqywihxvzi.svg#iconfont') format('svg');
}


.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-i-home:before {
  content: "\e602";
}

.icon-box-2:before {
  content: "\e646";
}

.icon-box-1:before {
  content: "\e647";
}

.icon-box-5:before {
  content: "\e648";
}

.icon-box-9:before {
  content: "\e649";
}

.icon-box-15:before {
  content: "\e64a";
}

.icon-box-22:before {
  content: "\e64b";
}

.icon-Address:before {
  content: "\e637";
}

.icon-Basket:before {
  content: "\e639";
}

.icon-Box:before {
  content: "\e63a";
}

.icon-Back:before {
  content: "\e63b";
}

.icon-gongji:before {
  content: "\e6a5";
}
